/** @format */
// Specific CSS for your home-page

#hero-section {
  position: relative;
  min-height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  padding-top: 10vh;
  padding-bottom: 10vh;

  .intro-container {
    position: sticky;
    top: 160px;
  }

  .game-row {
    :nth-child(odd) {
      .game-card {
        transform: translateY(50px);

        @include media-breakpoint-down(md) {
          transform: none;
        }
      }

    }
    :nth-child(even) {
      .game-card {
        transform: translateY(-50px);

        @include media-breakpoint-down(md) {
          transform: none;
        }
      }
    }
  }

  .white-line {
    position: absolute;
    z-index: -1;
    border-right: 1px solid rgba(255,255,255, .25);
    top: -50px;
    bottom: 0;
    width: 0;

    &.one {
      right: 25px;
    }

    &.two {
      right: 27.5%;
    }

    &.three {
      right: 90%;
    }
  }

  .blue-line {
    position: absolute;
    z-index: 1;
    background-color: $neon-blue;
    width: 4px;
    height: 48px;
    padding: 0;
    @include neon-blue-shadow;

    &.one {
      top: 25px;
      right: 27.5%;
    }
  }
}

#instruction-section {
  background: rgba(white, .25);
  padding-top: 10vh;
  padding-bottom: 10vh;

  .image-circle {
    border-radius: 50%;
    width: 100%;
    padding-bottom: 100%;
    margin: 0 auto 1rem;
    background-size: cover;
    background-repeat: no-repeat;
  }

  p {
    margin-bottom: 0;
  }
}

#image-section {
  position: relative;
  padding-top: 10vh;
  padding-bottom: 10vh;

  .white-line {
    position: absolute;
    z-index: -1;
    border-right: 1px solid rgba(255,255,255, .25);
    top: 0;
    bottom: 0;
    width: 0;

    &.one {
      right: 25px;
    }

    &.two {
      left: 27.5%;
    }

    &.three {
      right: 90%;
    }
  }

  .blue-line {
    position: absolute;
    z-index: 1;
    background-color: $neon-blue;
    width: 4px;
    height: 48px;
    padding: 0;
    @include neon-blue-shadow;

    &.one {
      bottom: 150px;
      right: 25px;

      @include media-breakpoint-down(lg) {
        bottom: 25px;
      }
    }
  }
}
