<section id="hero-section" class="container">
  <div class="row">
    <div class="col-12 col-lg-6">
      <div class="pe-3">
        <h1 class="mb-4">FIND THE BEST RETRO GAMES</h1>
        <div class="color-line"></div>
        <p class="mb-5">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. </p>
        <form class="d-flex gap-3 mb-4">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-primary form-button" type="submit">Search</button>
        </form>
        <%= link_to "Browse all games", games_path %>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="row row-cols-lg-2 row-cols-1">
        <div class="col">
          <div class="game_card">
            <div class="game_art"><%= cl_image_tag @games.select { |game| !game.photo.key.nil? }.sample.photo.key %></div>
            <div class="game_card_info">
              <h5>Game title</h5>
              <p>release</p>
              <p>platform</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="instruction-section">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <h2>How does it work</h2>
        <div class="color-line"></div>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
      </div>
      <div class="col-3 text-center">
        <div class= "image-circle"></div>
        <p>Find the game you want to rent.</p>
      </div>
      <div class="col-3 text-center">
        <div class= "image-circle"></div>
        <p>Request an offer from another community member.</p>
      </div>
      <div class="col-3 text-center">
        <div class= "image-circle">
        </div>
        <p>Play and pay per day. When finished just send it back.</p>
      </div>
    </div>
  </div>
</section>
<section id="image-section">
  <div class="container">
    <div class="row">
      <div class="col-7">
        <img src= "assets/pexels-nick-kwan-2614818.jpg" class="img-fluid" alt="">
      </div>
      <div class="col-5">
        <h2>Lorem ipsum dolor sit amet Quadtro Takimatoa sacntu</h2>
        <div class="color-line"></div>
        <p>Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.<br>
          <br>
          Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
      </div>
    </div>
  </div>
</section>
