<div class="container">
  <div>
    <h3>Search Results for: GAME</h3>
  </div>
  <div class="results-display">
    <div class="me-5">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Filter</li>
        <li class="list-group-item">Filter</li>
        <li class="list-group-item">Filter</li>
        <li class="list-group-item">Filter</li>
        <li class="list-group-item">Filter</li>
      </ul>
    </div>
    <div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3">
        <% @games.each do |game| %>
          <div>
            <%= link_to game_path(game), class:"col results-card" do %>
              <%= game.photo.attached? ? cl_image_tag(game.photo.key, class:"img-fluid") : image_tag("games/noimage.png", class: "img-fluid") %>
              <div class="card-details">
                <h6 class="mt-2"><%= game.name %></h6>
                <p>Release Year: 19XX</p>
                <div class="request-btn">
                  <%= link_to "Request", games_path, class: 'btn btn-light m-2' %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
