.btn {
  border-radius: 0;

  &-primary {
    padding: .75rem 1rem;
    font-weight: 500;

    &:hover {
      @include neon-yellow-shadow;
    }
  }

  &-outline-primary {
    &:hover {
      @include neon-yellow-shadow;
    }
  }

  &.form-button {
    padding: .75rem 3rem;
  }
}
