@import "effects";

.form {
  &-control {
    border-radius: 0;
    background: none;
    border: 3px solid $primary;
    color: $primary;

    &::placeholder {
      color: $primary;
      opacity: 1;
    }

    &:focus {
      background: none;
      color: $neon-blue;
      border: 3px solid $neon-blue;
      @include neon-blue-shadow;

      &::placeholder {
        color: $neon-blue;
        opacity: 1;
      }
    }
  }

  &-text {
    color: white;
    opacity: .75;
  }
}

.index-search {
  max-width: 500px;
}

#new_user {
  .form-control {
    height: 50px;
  }

  .form-check {
    display: flex;
    align-items: center;
  }
}

.form-check-input[type="checkbox"] {
  border-radius: 0;
  height: 1.5rem;
  width: 1.5rem;
  border: 3px solid $primary;
  background: none;
  margin-right: .75rem;
  margin-top: 2px;

  &:focus {
    @include neon-yellow-shadow;
  }

  &:checked {
    background: $primary;
  }
}

abbr {
  text-decoration: none !important;
  color: $primary;
}
