@import "effects";

.form {
  &-control {
    border-radius: 0;
    background: none;
    border: 3px solid $primary;
    color: $primary;

    &::placeholder {
      color: $primary;
      opacity: 1;
    }



    &:focus {
      background: none;
      color: $neon-blue;
      border: 3px solid $neon-blue;
      @include neon-blue-shadow;

      &::placeholder {
        color: $neon-blue;
        opacity: 1;
      }
    }
  }
}
