@import "effects";

.form {
  &-select,
  &-control {
    border-radius: 0;
    background: none;
    border: 3px solid $primary;
    color: $primary;

    &::placeholder {
      color: $primary;
      opacity: 1;
    }

    &:focus {
      background: none;
      color: $neon-blue;
      border: 3px solid $neon-blue;
      @include neon-blue-shadow;

      &::placeholder {
        color: $neon-blue;
        opacity: 1;
      }
    }
  }

  &-text {
    color: white;
    opacity: .75;
  }

  &-select {
    padding: .375rem .75rem;
    margin-left: 0 !important;
    margin-right: 0 !important;
    height: 50px;

    &.date {
      &::-webkit-calendar-picker-indicator {
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="%23f8ffae" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');

        &:hover {
          cursor: pointer;
        }
      }

      &:focus {
        &::-webkit-calendar-picker-indicator {
          background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="%2343C6AC" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
        }
      }
    }
  }
}

.index-search {
  max-width: 500px;
}

#new_user {
  .form-control {
    height: 50px;
  }

  .form-check {
    display: flex;
    align-items: center;
  }
}

.form-check-input[type="checkbox"] {
  border-radius: 0;
  height: 1.5rem;
  width: 1.5rem;
  border: 3px solid $primary;
  background: none;
  margin-right: .75rem;
  margin-top: 2px;

  &:focus {
    border-color: $neon-blue;
    @include neon-blue-shadow;
  }

  &:checked {
    border-color: $neon-blue;
    background: $neon-blue;
  }
}

abbr {
  text-decoration: none !important;
  color: $primary;
}
