/** @format */
.card-picture {
  position: relative;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.results-card {
  text-decoration: none;
  h5 {
    font-size: 1.125rem;
    font-weight: bold;
  }
}
