.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #f8ffae;
  a {
    @include neon-yellow-text-shadow;
  }

  &.logged-in {
    background-color: #0d2f73;
  }
}

.nav-user {
  border-color: rgb(50, 192, 205);
  border-radius: 5px;
  padding: 4px;
  background-color: rgba(0,0,0,0.1);
  color: #f8ffae;
}
