.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #f8ffae;
  a {
    @include neon-yellow-text-shadow;
  }

  &.logged-in {
    background-color: #0d2f73;
  }
}

#nav-user-container {
  background: none !important;
  border-radius: 0;
  border: none;

  .btn {
    border: none !important;
  }

  #nav-dropdown-menu {
    background: rgba($dark-blue, .75);
    backdrop-filter: blur(10px);
    border-radius: 0;
    border: none;

    .dropdown-item {
      text-align: right;
      text-shadow: none;
      color: $primary !important;
      padding-top: .5rem;
      padding-bottom: .5rem;

      &:hover {
        background: none;
        @include neon-yellow-text-shadow;
      }
    }
  }
}

.nav-user {
  border-radius: 5px;
  padding: 4px;
  color: #f8ffae;
}
