.offer-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1rem;
  color: white;

  img {
    max-width: 100%;
    border-radius: 50%;
  }

  .offer-price {
    color: white;
    background: $neon-blue;
    position: relative;
    height: 56px;
    width: 80%;
    font-size: calc(1rem + .5vw);
    padding: 8px;
    border-radius: 8px;

    span {
      font-size: .75rem;
      position: absolute;
      bottom: 8px;
      right: 8px;
    }
  }

  &-background {
    position: absolute;
    bottom: 0;
    height: 65%;
    right: 0;
    width: 80%;
    z-index: -1;
    border-radius: 1rem;
    background: rgba($dark-blue, .2);
  }
}
