.rental {
  position: relative;
  &-image {
    height: 320px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  &-status {
    font-size: 1.25rem;
    span {
      font-size: .75rem;
    }
  }

  &-price {
    text-align: right;
    font-size: 2rem;
    color: $neon-blue;
  }

  .action-list {
    position: absolute;
    top: 1rem;
    right: 1rem;

    .hidden {
      margin: 0;
    }
  }
}
