
<div class="container">
  <div class="border border-primary m-3 " style= "width: 300px">
    <img  class="rounded-circle p-3" style= "width: 100%" src="https://kitt.lewagon.com/placeholder/users/papillar" alt="">
      <div class="offer-content p-3">
        <h5><%= current_user.display_name %></h5>
        <p><%= current_user.first_name %> <%= current_user.last_name %></p>
        <p>Location: <%= current_user.location %></p>
        <p>Rating: </p>
      </div>
  </div>
</div>
