<div class="container">
  <div class="offer-container">
    <div class="row justify-content-center">
      <div class="col-8 col-md-6">
        <img src="https://kitt.lewagon.com/placeholder/users/papillar" class="offer-img" alt="">
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-7">
        <div class="offer-content">
          <h5><%= current_user.display_name %></h5>
          <p><%= current_user.first_name %> <%= current_user.last_name %></p>
          <p>Location: <%= current_user.location %></p>
          <p>Rating: </p>
        </div>
      </div>
    </div>
    <div class="offer-container-background"></div>
  </div>
</div>
