<div class="container d-flex">
  <%= render "user/profile-nav" %>
    <div class="col-5 mx-2 mb-5 border-end">
      <h2>Outgoing Requests</h2>
      <div class="col d-flex flex-wrap">
        <% current_user.rentals.each do |rental| %>
          <div class="col-5 mx-2">
            <%= render rental %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-5 mx-2 mb-5 ">
      <h2>Incoming Requests</h2>
      <div class="col d-flex flex-wrap">
        <% current_user.rentals_incoming.each do |rental| %>
          <div class="col-5 mx-2">
            <%= render rental %>
          </div>
        <% end %>
      </div>
    </div>
</div>
